[project]
	description = Rights inherited for all ChromiumOS Projects
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	read = group Administrators
	read = group chromeos-committers
	read = group chromium-git-push
	read = group cros-trybot
	read = group gob-replication
	forgeAuthor = group chromeos-committers
	forgeAuthor = group chromium-git-push
	submit = group chromeos-committers
	submit = group chromium-git-push
	push = group chromium-git-push
	labelAs-Commit-Queue = +0..+2 group chromium-git-push
	viewDrafts = group chromium-git-push
	forgeCommitter = group chromium-git-push
[access "refs/for/refs/*"]
	push = group chromeos-committers
	pushMerge = group chromeos-committers
[access "refs/heads/master"]
	label-Commit-Ready = +0..+1 group Registered Users
[access "refs/heads/toolchainA"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = +force group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/heads/toolchainB"]
	create = group chromiumos-toolchain-owners
	forgeCommitter = group chromiumos-toolchain-owners
	push = group chromiumos-toolchain-owners
	pushMerge = group chromiumos-toolchain-owners
[access "refs/tryjobs/*"]
	create = group vadimsh-group
	push = group vadimsh-group
