[project]
	description = Rights inherited for all ChromiumOS Projects
	state = active
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	read = group chromeos-committers
	read = group cros-trybot
	forgeAuthor = group chromeos-committers
	submit = group chromeos-committers
[access "refs/for/refs/*"]
	push = group chromeos-committers
	pushMerge = group chromeos-committers
[access "refs/heads/master"]
	label-Commit-Ready = +0..+1 group Registered Users
